[submodule "Nelegram"]
	path = Nelegram
	url = https://github.com/ChalkPE/Nelegram.git
[submodule "GateKeeper"]
	path = GateKeeper
	url = https://github.com/onebone/GateKeeper
[submodule "Kami"]
	path = Kami
	url = https://github.com/onebone/Kami
