[submodule "Nelegram"]
	path = Nelegram
	url = https://github.com/ChalkPE/Nelegram.git
[submodule "GateKeeper"]
	path = GateKeeper
	url = https://github.com/onebone/GateKeeper
[submodule "Kami"]
	path = Kami
	url = https://github.com/onebone/Kami
[submodule "Rino"]
	path = Rino
	url = https://github.com/onebone/Rino
[submodule "ChatFormatter"]
	path = ChatFormatter
	url = https://github.com/onebone/ChatFormatter
[submodule "CallHighlighter"]
	path = CallHighlighter
	url = https://github.com/onebone/CallHighlighter
[submodule "PrefixShop"]
	path = PrefixShop
	url = https://github.com/if-Team/PrefixShop
